*,
::after,
::befire {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  pointer-events: none !important;
  user-select: none !important;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  /* background-image: url('./bg.jpg'); */
  /* background-size: cover; */
  /* backdrop-filter: blur(2px) brightness(0.55); */
  overflow: hidden;
}

p {
  margin: 0;
  color: #aeaeae;
}

.dialog {
  position: fixed;
  bottom: 32px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
}
.flo-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.flo-menu.vert {
  flex-direction: column;
}
.flo-menu button {
  all: unset;
  mix-blend-mode: difference;
  padding: 2px 4px;
  margin: 0 4px;
  font-size: 0.875rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, .5);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.indicator {
  position: fixed;
  display: block;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, .5);
  border-radius: 4px;
  transition: 360ms cubic-bezier(0, 1.4, 0.8, 1);
  transform-origin: center center;
  animation: float 4s linear infinite;
  z-index: -1;
}
.indicator.up {
  transform: translate(-4px, 0) scale(1.01);
}
.indicator.down {
  transform: translate(4px, 0) scale(1.01);
}
.vert .up {
  transform: translate(0, -4px) scale(1.01);
}
.vert .down {
  transform: translate(0, 4px) scale(1.01);
}
.indicator.press {
  transform: scale(0.95, 0.9);
  margin: 0 !important;
}
@keyframes float {
  0% {
    margin: 2px 0 0 2px;
  }
  25% {
    margin: 0 0 3px 0;
  }
  50% {
    margin: 2px 0 2px 0;
  }
  75% {
    margin: 0 2px 3px 0;
  }
  100% {
    margin: 2px 0 0 3px;
  }
}

